/*
 Theme Name:   GeneratePress Child
 Theme URI:    https://generatepress.com
 Description: Child theme for the GeneratePress theme
 Author:       Your Name
 Author URI:   https://example.com
 Template:     generatepress
 Version:      1.0.0
*/


