/*
 Theme Name:   Twenty Twenty-Four Child
 Theme URI:    https://wordpress.org/themes/twentytwentyfour/
 Description: Child theme for Twenty Twenty-Four
 Author:       Your Name
 Template:     twentytwentyfour
 Version:      1.0
*/

